---
title: Grid
description: This is the meta description
classes:
- grid-page
keywords:
- one
- two
- three
---
<section class="section section--grey">
  <div class="section--wrapper">
    <div class="grid grid--four">
      <div class="grid__item--wrapper apple" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 45px;" data-logo>
                <img src="./media/svg/Apple.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>We partnered with Apple to improve the digital experience for the Beats brand and Apple Support.</p>
              </div>
              {{!-- <div class="grid__item__content-cta">
                <a href="#"><span>Expand</span></a>
              </div> --}}
            </div>
            <div class="grid__item__content--full">
              <div data-fade>
                <h3>hello world!</h3>
                <p>no more world!</p>
                <div class="cta--container"><a href="#" class="cta cta--inline">Link to World</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper beats" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 50px;" data-logo>
                <img src="./media/svg/Beats.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>We brought storytelling, culture, and positioning to eCommerce, creating a hub that is all things Beats.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper nixon" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 125px;" data-logo>
                <img src="./media/svg/Nixon.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Our new approach for Nixon’s growing reputation wasted no time in turning them into a global leader.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper loreal" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 129px;" data-logo>
                <img src="./media/svg/LOreal.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>We’re crafting eCommerce strategy, UX/UI design, and content direction for the new Clarisonic 2017 site.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper volcom" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 60px;" data-logo>
                <img src="./media/svg/Volcom.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>We established a new eCommerce experience that drives growth with a focus on brand culture. Launching 2017.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper keen" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 103px;" data-logo>
                <img src="./media/svg/KEEN.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Our eCommerce platform reflects Keen’s values and, through brand storytelling, aligns it with its community. Launching 2017.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper rei" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 96px;" data-logo>
                <img src="./media/svg/REI.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Our eCommerce strategy reinforced our advertising efforts for REI, realigning the iconic retailer with millennials.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper fruit" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 99px;" data-logo>
                <img src="./media/svg/FruitoftheLoom.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>With Fruit of the Loom, we’re developing strategy, brand, and digital design direction for Russell Athletic’s 2017 site.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper billabong" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 66px;" data-logo>
                <img src="./media/svg/Billabong.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Launching soon, our strategy, design, branding, and development drives commerce through cool surf culture.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper dakota" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 115px;" data-logo>
                <img src="./media/svg/BBDakota.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>BB Dakota’s bold views on glamour and fashion inspired our branded eCommerce experience - all attitude.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper chrome" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 40px;" data-logo>
                <img src="./media/svg/Chrome.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Our new eCommerce experience brings the Chrome brand to its urban fan base.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper nike" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 82px;" data-logo>
                <img src="./media/svg/Nike.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Our time with Nike was about ‘changing the game’ with a bold campaign, creative direction, and emotional connection.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper incase" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 111px;" data-logo>
                <img src="./media/svg/Incase.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>From strategy, design direction, content creation, and all things between, we repositioned the Incase brand.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper playstation" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 62px;" data-logo>
                <img src="./media/svg/PlayStation.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>We partnered with Playstation to promote its premier titles to the gamers who love playing them.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper fender" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 119px;" data-logo>
                <img src="./media/svg/Fender.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>With a sound strategy, we reinvented branded digital education for Fender, with a focus on community.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item--wrapper wework" data-sfx>
        <div class="grid__item">
          <div class="grid__item__content">
            <div class="grid__item__content--preview">
              <div class="grid__item__content-image" style="max-width: 126px;" data-logo>
                <img src="./media/svg/WeWork.svg" alt="" />
              </div>
              <div class="grid__item__content-text">
                <p>Our iterative site redesign for the largest co-working community focuses on brand, community, and conversion.</p>
              </div>
            </div>
            <div class="grid__item__content--full">
              <h3>hello world!</h3>
              <p>no more world!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <i class="grid__content__close"></i>
        {{!-- <div class="grid__content__intro--wrapper">
          <div class="grid__content__intro">
            <div class="grid__content__intro-image"></div>
            <div class="grid__content__intro-text"></div>
          </div>
        </div> --}}
        <div class="grid__content__copy"></div>
      </div>
    </div>
  </div>
</section>
